extends layout.pug 

block content 
  .container 
    h1 Add new student 

    if error 
      p.error Something went wrong! Try again!

    if success 
      p.success Student is saved!

    form.form(action="/create" method='POST') 
      label Full name 
      input.input(type="text" placeholder="write your full name here..." name='title')

      label Information 
      textarea.input(type="text" placeholder="write brief information about you...(age, school, interests etc.)" name="description")

      button.btn Add as a student  