extends layout.pug 

block content
  .container 
    h1.intro-msg This application provides for the entry, storage, modification, and deletion of student data.
    a.featured(href="/create").btn Add new student