doctype html
html(lang="en")
    head 
        title Students management system
        link(rel="stylesheet", href="/static/styles.css")

    body 
        header.navbar 
        
         h1 
          a(href="/") Students management system 

         nav.nav
          a(href="/notes") All datas 
          a(href="/archive") Archived students 
    block content  